@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: linear-gradient(to right, #0CABA8, #015958);
}

main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px #14505083;   
}

h1 {
    color: #0FC2C0;
    text-align: center;
    text-shadow: 1px 1px 2px #1141417a;
}

h2 {
    color: #023535;
}
p {
    text-align: justify;
}